@{
    ViewData["Title"] = "Datos";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sistema de datos</h1>
    <img src="https://trabajotucuman.com/wp-content/uploads/2019/05/administrativos-para-el-ingreso-de-datos-trabajo-tucuman.jpg" alt="Alternate Text" />


    <p><h3> Bienvenido a mi sistema de datos en el cual podremos ingresar a nuestros nuevos clientes y sus datos correspondientes</h3> </p>
    <p><h3> y se podran visualizar en una pantalla el listado completo  de los nuevos clientes que se ingresen</h3> </p>
</div>
